/* Global font family */
html,
body,
button,
input,
textarea,
select {
  font-family: 'Noto Sans Lao', sans-serif !important;
  margin: 0;
  padding: 0;
}

/* SweetAlert2 override */
.swal2-popup,
.swal2-title,
.swal2-content,
.swal2-actions button {
  font-family: 'Noto Sans Lao', sans-serif !important;
}

html, body, button, input, textarea, a, label, h1, h2, h3 {
  font-family: 'Noto Sans Lao', sans-serif !important;
}
