.chat-container {
  margin: 90px 0 70px;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow: hidden;
    object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(79, 79, 79, 0.163);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 18px;
  position: relative;
}

.chat-name {
  font-weight: bold;
}

.chat-status {
  background: none;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.chat-status .bi {
    font-size: 14px;
    color: var(--status1-color);
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: rgba(62, 62, 62, 0.2);
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.chat-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.message-row {
  margin-bottom: 15px;
}

.message-row.admin {
  text-align: left;
}

.message-row.user {
  text-align: right;
}

.chat-message {
  display: inline-block;
  text-align: start;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  max-width: 40%;
}

.message-row.admin .chat-message {
  background-color: var(--container-color);
  color: var(--main-color);
  /* border: 1px solid var(--main-color); */
}

.message-row.user .chat-message {
  background-color: var(--main-color);
  color: white;
}

.time {
  font-size: 12px;
  margin-top: 5px;
  color: var(--main-color);
}

.chat-input {
  display: flex;
  padding: 10px;
  background: rgba(79, 79, 79, 0.163);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-input input {
  flex: 1;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
    background: rgba(255, 255, 255, 0.581);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(x9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 3px 3px 6px rgba(46, 46, 46, 0.207),
                inset -3px -3px 6px rgba(255, 255, 255, 0.803);
}

.chat-input button {
  margin-left: 10px;
  height: 60px;
  width: 60px;
    background: rgba(255, 255, 255, 0.581);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(x9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  
}

.chat-input button .bi {
    font-size: 24px;
    color: var(--main-color);
}

.image-preview {
  max-width: 350px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.image-preview:hover {
  transform: scale(1.02);
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  margin-top: 60px;
}

.close-btn {
  position: absolute;
  top: 70px;
  right: 90px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.file-link {
  display: inline-block;
  padding: 10px;
  background: #f1f1f1;
  color: #333;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 5px;
}

.file-label .bi{
  margin-right: 10px;
  cursor: pointer;
  font-size: 32px;
  color: var(--main-color);
  display: flex;
  margin-top: 12px;
}

@media (max-width: 576px) {
  .chat-container {
    height: 810px;
  }

  .chat-message {
    padding: 8px 10px;
    border-radius: 16px;
    max-width: 50%;
    font-size: 12px;
    font-weight: 400;
  }
}