.contract-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--container-color);
  width: fit-content;
  border-radius: 8px;
}

.contract-wrapper {
  padding: 35px 40px;
  background: none;
}

.label {
  margin-bottom: 8px;
  color: var(--main-color);
  font-weight: 500;
}

.contract-left {
  position: relative;
  /* z-index: var(--z-tooltip); */
  padding: 35px 30px 10px;
  /* background: url(../../assets/landlord2.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  filter: brightness(90%); */
  background-color: var(--container2-color);
  border-radius: 8px 0 0 8px;
}

/* Scrollable Conditions Box */
.conditions-section {
  background: rgba(255, 255, 255, 0.163);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.518); */
  border: 2px solid #bababa;
  border-radius: 5px;
  padding: 20px 20px 0;
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
  font-size: 13px;
  line-height: 1.5;
  margin: 10px 0 20px;
  color: #333;
}

.conditions-section::-webkit-scrollbar {
  width: 4px;
}

.conditions-section::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}

.conditions-section h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main-color);
}

.conditions-section ol {
  padding-left: 20px;
  margin-bottom: 2rem;
}

.conditions-section li {
  margin-bottom: 6px;
  font-size: 12px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #444;
}

.checkbox-container input[type='checkbox'] {
  margin-right: 8px;
}

.contract-text {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color);
}

.signed-preview {
  margin-top: 2rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.signed-preview img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.button-group {
  display: flex;
}

.clear-button {
  display: flex;
  justify-content: flex-end;
}

.clear-button button {
  margin-bottom: 20px;
  background-color: var(--container1-color);
  color: var(--main-color);
}

.submit-button button {
  width: 100%;
  background-color: var(--second-color);
}

@media screen and (max-width: 992px) {
  .contract-left {
    display: none;
  }
  .contract-container {
    display: flex;
    margin: 100px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .contract-wrapper {
    padding: 30px 30px;
  }
}

@media (max-width: 576px) {
  .contract-container {
    margin: 100px 20px;
  }
  .contract-wrapper {
    padding: 30px 20px;
  }
}
