@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;600;700&display=swap');

.swal2-popup, .swal2-popup * {
  font-family: 'Noto Sans Lao', sans-serif !important;
}

/* Title */
.swal2-title {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.8rem !important;
  color: #502c2c !important;
}

/* Text ข้างล่าง */
.swal2-html-container {
  font-family: 'Noto Sans Lao', sans-serif !important;
  font-size: 1.2rem !important;
  color: #34495e !important;
  margin-top: 0.5rem !important;
}

/* ปุ่ม */
.swal2-confirm {
  font-family: 'Noto Sans Lao', sans-serif !important;
  background-color: #4caf50 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 24px !important;
  font-size: 1.1rem !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}
.swal2-confirm:hover {
  background-color: #45a049 !important;
}
